.avatar {
  position: relative;
  border-radius: 12px;
  .dots {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 10%;
  }
  .gradient {
    position: absolute;
    bottom: -15%;
  }
}
