.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;

  img {
    opacity: 0.7;
    transition: transform 0.3s ease-in-out;
  }

  img:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes increasing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
