.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  gap: 40px;

  border-top: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(
    90deg,
    rgba(44, 39, 39, 0),
    #f06e16,
    rgba(44, 39, 39, 0)
  );
  -webkit-border-image: -webkit-linear-gradient(
    90deg,
    rgba(44, 39, 39, 0),
    #f06e16,
    rgba(44, 39, 39, 0)
  );
  border-image: linear-gradient(
    90deg,
    rgba(44, 39, 39, 0),
    #f06e16,
    rgba(44, 39, 39, 0)
  );
  border-image-slice: 1;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
  }
}
