.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: #f0e3ca;
  font-size: 20px;
  font-weight: 400;
  a {
    transition: 150ms;
  }
  a:hover {
    color: #ff7517;
    transition: 150ms;
  }
}
